{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Заголовок Project</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body align = CENTER>

        <h1>Тир лист ваших любимых видео 18+</h1>
        <table>
            <tr>
                <td class="column_1">№</td>
                <td class="column_2">Превью</td>
                <td class="column_3">Актеры</td>
                <td class="column_4">Название</td>
                <td class="column_5">Студия</td>
                <td class="column_6">Оценка</td>
            </tr>

            <tr>
                <td class="column_1">1</td>
                <td class="column_2">
                    <img src="{% static 'pictures/1.jpg' %}"/>
                </td>
                <td class="column_3">Chloe Surreal, Mick Blue, Xander Corvus, Christian Castillo</td>
                <td class="column_4">Big Natural Babe Gets The Double Dickdown She Thirsts For</td>
                <td class="column_5">Brazzers</td>
                <td class="column_6">7/10</td>
            </tr>

            <tr>
                <td class="column_1">2</td>
                <td class="column_2">
                    <img src="{% static 'pictures/2.jpg' %}"/>
                </td>
                <td class="column_3">Anya Olsen, Sydney Cole, Ariella Ferrera, Cassidy Banks, Syren De Mer, Casey Calvert, Missy Martinez, Gia Milana, Kendall Kayden, April Brookes, Michael Vegas, Brad Knight, Van Wylde, Jessy Jones, Keiran Lee, Danny D, Lucas Frost, Small Hands</td>
                <td class="column_4">Best Of Brazzers: Sharing Stepsiblings</td>
                <td class="column_5">РЖД</td>
                <td class="column_6">5/10</td>
            </tr>


            <tr>
                <td class="column_1">3</td>
                <td class="column_2">
                    <img src="{% static 'pictures/3.jpg' %}"/>
                </td>
                <td class="column_3">Adriana Chechik, Violet Starr, Keisha Grey, Alessandra Jane, Cherie Deville, Kendra Lust, Demi Sutra, Chloe Cherry, Missy Martinez, Kira Noir, Rebecca More, Michael Vegas, Xander Corvus, Keiran Lee, Ricky Johnson, Danny D</td>
                <td class="column_4">Best of Brazzers: Fantastic Facials</td>
                <td class="column_5">Brazzers</td>        
                <td class="column_6">3/10</td>
            </tr>

        </table>


    </body>
</html>